# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Christopher McClellan
#	email = rubberduck@Christophers-MacBook-Pro.local
[user]
	name = Christopher J. McClellan
	email = chris.mcclellan203@gmail.com
[alias]
	fuckit = reset HEAD
	update = commit --amend --no-edit
	fix = !git add -A && git commit --amend --no-edit
	lg = log --color --graph --abbrev-commit --pretty=oneline
    del-merged = !git branch --merged master | grep -v "master" | xargs git branch -d
[color]
	ui = auto
